{% extends 'base.html.twig' %}

{% block title %}
    Hello HomeController!
{% endblock %}

{% block body %}
    <div>
        <h1>
            Hello {{ controller_name }}! ✅
        </h1>
        <p>
            Welcome to Paris Saclay University Housing Platform !
        </p>
        <p>
            There are currently {{ lessor_count }} lessors registered on the platform.
        </p>
    </div>
{% endblock %}
