{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.pagetitle'|trans }}
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>
            {{ 'home.welcome.title'|trans }}
        </h1>

        <h2>
            {{ 'home.welcome.subtitle'|trans }}
        </h2>
    </div>
    {% import '/home/housingcard.html.twig' as HousingCard %}
    <main class="container">
        {% for housing in housings %}
            {{ HousingCard.displayCard(housing, imageBaseUrl) }}
        {% endfor %}
    </main>
{% endblock %}
