public/build
node_modules
vendor
composer.lock
package-lock.json
README.md
public/bundles/
volumes/

# Necessary because of filter arrow function not supported (impossible to ignore lines only)
templates/housing/_housing_card.html.twig
templates/student/_navlink.html.twig
templates/student/_profile.edit.html.twig
templates/student/_profile.select_school_widget.html.twig
