{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}" />
{% endblock %}

{% block side_bar_after_nav_content %}
    <a href="{{ path('admin_logout') }}" style="font-size: 14px;">
        <i class="fas fa-sign-out-alt"></i>
        Se déconnecter
    </a>
{% endblock %}
