<div class="container guide cost">
    <div class="row gx-6 gy-5 mb-4">
        <h1>
            <strong>Mobili-Jeune</strong>
        </h1>
        <div class="col-12 col-lg-6 maincontent">
            <p>
                Mobili-jeune assistance is for young people below 30 years of
                age and helps to reduce the rent receipts. It is aimed at young
                people on an apprenticeship or professional training contract in
                a non-agricultural private sector company. The total amount of
                assistance is between € 10 to € 100 per month over three years
                and can be combined with the ALS and Loca-pass.
            </p>
            <div class="info-link">
                <i class="fa-regular fa-circle-info fa-2x ms-2"></i>
                <a href="https://www.actionlogement.fr" target="_blank">
                    www.actionlogement.fr
                </a>
            </div>

            <img class="img-fluid mt-4"
                src="{{
                asset(
                    'build/images/guide/cost/P35 iStock-1215927131.jpg'
                )
                }}"
                alt="étudiante qui lit sur son lit" />
        </div>

        <div class="col-12 col-lg-6 sidecontent pin mb-auto">
            <div class="text-center">
                <i class="fa-regular fa-thumbtack fa-2x ms-2"></i>
            </div>
            <p>
                <strong>LES CONDITIONS D'ACCES A MOBILI-JEUNE</strong>
            </p>

            <ul class="fa-ul" style="--fa-li-width: 2em;">
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    You must not already have an ongoing Aide Mobili-Jeune file with
                    Action mmodation Logement for the same accomodation and the same
                    period.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    You must be a tenant in accommodation at the time of training.
                    As regards the accommodation, it can be a shared rental in private
                    or social housing, a furnished or unfurnished rented property,
                    accommodation in a hostel or social residence, in a property
                    with or without an APL agreement, in a sublet but only if this
                    is in private housing or a hall of residence.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>Have a gross monthly salary less than or equal to
                    100% of the minimum wage.
                </li>
            </ul>
        </div>
    </div>
</div>
