<div class="container guide cost">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-lg-6 maincontent">
            <img class="img-fluid"
                id="visale"
                src="{{
                asset(
                    'build/images/guide/cost/UPSaclay iStock-P33.jpg'
                )
                }}"
                alt="étudiante qui regarde par la fenêtre" />
        </div>
        <div class="col-12 col-lg-6 maincontent">
            <img class="img-fluid"
                style="width: 70%;"
                src="{{ asset('build/images/guide/cost/logo-visale.png') }}"
                alt="Logo Visale" />
        </div>
    </div>
    <div class="row gx-6 gy-5 mb-4">
        <h1>
            <strong>Visale</strong>
        </h1>
        <div class="col-12 col-lg-6 maincontent">
            <p>
                This assistance covers the rental deposit and is managed by
                Action Logement. It is aimed at young people aged 18 to 30
                years. It provides the beneficiary with tailored assistance to
                repay debts in the event of non-payment. 'Unpaid rent' refers to
                rent and charges listed in the lease, including their contract
                revision.
            </p>
            <div class="info-link">
                <i class="fa-regular fa-circle-info fa-2x ms-2"></i>
                <a href="https://www.visale.fr" target="_blank">
                    www.visale.fr
                </a>
            </div>

            <div class="sidecontent usercheck">
                <div class="text-center">
                    <i class="fa-regular fa-user-check fa-2x ms-2"></i>
                </div>

                <p>
                    <strong>THIS ASSISTANCE INCLUDES</strong>
                </p>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Coverage of unpaid rent for the entire duration of the rental
                        period, up to a limit of 36 unpaid monthly payments. For
                        students and work-study students living in APL-approved housings
                        or in a student university residence, the coverage is for
                        nine unpaid monthly payments.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Coverage of the cost of repairing the accomodation in the
                        event of damage caused by the tenant, up to a limit of two
                        months' rent and charges.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        No deductibles or waiting periods, subject to the reporting
                        deadlines and the conditions of the Visale contract being
                        respected.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Coverage of the costs of legal disputes and procedures by
                        a network of professionals.
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-lg-6 sidecontent pin my-auto">
            <div class="text-center">
                <i class="fa-regular fa-thumbtack fa-2x ms-2"></i>
            </div>
            <p>
                <strong>THE CONDITIONS FOR ACCESSING VISALE</strong>
            </p>

            <ul class="fa-ul" style="--fa-li-width: 2em;">
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>You must be between 18 and 30 years of age.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    If you are over 30 years of age, an employee of a private agricultural
                    company or posses and offer of employment
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>The lease must comply with the law.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    The rent including charges must be a maximum of 1,300 €, or up
                    to 1,500 € in the Ile-de-France.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    The lease must not be covered by other guarantees or be between
                    members of the same family.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    The lease must be separate for each co-tenant in the case of
                    a joint tenancy.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    The accommodation must be the ten- ant’s primary place of residence.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>The accommodation must be located in France.
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    The maximum rent including charges must be equal to 50% of declared
                    monthly income or 600 € for students and work-study students,
                    and up to 800 € in the Ile-de-France
                </li>
            </ul>
        </div>
    </div>
</div>
