<div class="container guide cost">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-lg-6 maincontent">
            <img class="img-fluid"
                id="visale"
                src="{{
                asset(
                    'build/images/guide/cost/UPSaclay-iStock-P33.jpg'
                )
                }}"
                alt=""
                aria-hidden="true" />
        </div>
        <div class="col-12 col-lg-6 maincontent">
            <img class="img-fluid"
                style="width: 70%;"
                src="{{ asset('build/images/guide/cost/logo-visale.png') }}"
                alt="Visale.fr - connecte emploi et logement" />
        </div>
    </div>
    <div class="row gx-6 gy-5 mb-4">
        <h1>
            <strong>Visale</strong>
        </h1>
        <div class="col-12 col-lg-6 maincontent">
            <p>
                Cette aide concerne la caution locative, gérée par Action
                Logement. Elle s’adresse aux jeunes de 18 à 30 ans. Elle permet
                au bénéficiaire de disposer d’un traitement personnalisé pour
                rembourser les dettes en cas d’impayés. Par « impayés de loyer
                », on entend les loyers et les charges inscrites au bail, y
                compris leur révision contractuelle.
            </p>
            <div class="info-link">
                <i class="fa-regular fa-circle-info fa-2x ms-2"></i>
                <a href="https://www.visale.fr" target="_blank">
                    www.visale.fr
                </a>
            </div>

            <div class="sidecontent usercheck">
                <div class="text-center">
                    <i class="fa-regular fa-plus-circle fa-2x ms-2"></i>
                </div>

                <p>
                    <strong>CETTE AIDE COMPREND</strong>
                </p>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Une prise en charge des impayés de loyers pendant toute la
                        durée de la location, dans la limite de 36 mensualités. Pour
                        les étudiants et alternants habitant en logeùent conventionné
                        APL ou en résidence étudiante ou universitaire, la prise
                        en charge est de neuf mensualités impayées
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Une prise en charge des frais de remise en état du logement
                        en cas de dégradation imputables au locataire, dans la limite
                        de deux mois de loyer et charges
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Pas de franchise, ni de carence, sous réserve du respect
                        des délais de déclaration et des conditions du contrat Visale
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Une prise en charge des frais de procédures contentieuses
                        et des démarches par un réseau de professionnels.
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-lg-6 sidecontent pin my-auto">
            <div class="text-center">
                <i class="fa-regular fa-thumbtack fa-2x ms-2"></i>
            </div>
            <p>
                <strong>LES CONDITIONS D'ACCES A VISALE</strong>
            </p>

            <ul class="fa-ul" style="--fa-li-width: 2em;">
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>Être âgé de 18 à 30 ans
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    au delà de 30 ans, être salarié d’une entreprise du secteur privé
                    ou agricole ou titulaire d'une promesse d’embauche
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>Le bail doit être conforme à la loi
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Le loyer à charges comprises doit être de 1 300 € maximum et
                    jusqu’à 1 500 € en Ile-de-France
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Le bail ne doit pas être couvert par d’autres garanties ni être
                    conclu entre les membres d’une même famille
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Le bail doit être individualisé pour chaque colocataire en cas
                    de colocation
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Le logement doit constituer la résidence principale du locataire
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>Le logement doit se situer sur le territoire français
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Le loyer maximum charges comprises doit être égal à 50 % des
                    ressources mensuelles déclarées ou de 600 € pour les étudiants
                    et alternants et jusqu’à 800 € en Ile-de-France
                </li>
            </ul>
        </div>
    </div>
</div>
