<div class="container guide cost">
    <div class="row gx-6 gy-5 mb-4">
        <h1>
            <strong>Mobili-Jeune</strong>
        </h1>
        <div class="col-12 col-lg-6 maincontent">
            <p>
                L’aide Mobili-Jeune s’adresse aux jeunes de moins de 30 ans et
                permet d’alléger la quittance de loyer. Elle concerne les jeunes
                en contrat d’apprentissage ou en professionnalisation dans une
                entreprise du secteur privé non agricole. Le montant de l’aide
                est de 10 € à 100 €/mois pendant trois ans et est cumulable avec
                les ALS et Loca-pass.
            </p>
            <div class="info-link">
                <i class="fa-regular fa-circle-info fa-2x ms-2"></i>
                <a href="https://www.actionlogement.fr" target="_blank">
                    www.actionlogement.fr
                </a>
            </div>

            <img class="img-fluid mt-4"
                src="{{
                asset(
                    'build/images/guide/cost/P35 iStock-1215927131.jpg'
                )
                }}"
                alt="étudiante qui lit sur son lit" />
        </div>

        <div class="col-12 col-lg-6 sidecontent pin mb-auto">
            <div class="text-center">
                <i class="fa-regular fa-thumbtack fa-2x ms-2"></i>
            </div>
            <p>
                <strong>LES CONDITIONS D'ACCES A MOBILI-JEUNE</strong>
            </p>

            <ul class="fa-ul" style="--fa-li-width: 2em;">
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Ne pas déjà avoir un dossier Aide Mobili-Jeune en cours chez
                    Action Logement pour le même logement et à la même période,
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    Être locataire d’un logement lors de la formation. Concernant
                    ce logement,il peut s’agir d’une colocation dans é le parc privé
                    ou social, d’un bien lou vide ou meublé, d’un logement dans un
                    foyer ou une résidence sociale, d’un bien conventionné ou non
                    à l’APL, d’une sous-location mais exclusivement dans le parc
                    social ou d’une chambre en internat
                </li>
                <li>
                    <span class="fa-li text-primary" aria-hidden="true">
                        <i class="fa-solid fa-check"></i>
                    </span>Avoir un salaire mensuel brut inférieur ou égal à
                    100% du SMIC
                </li>
            </ul>
        </div>
    </div>
</div>
