<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/Pixabay_bed-1834327_1920.jpg'
    )
    }}"
    alt=""
    aria-hidden="true" />
<div class="card" style="background-color: #FDBD00;">
    <div class="card-body">
        <h2 class="h5 card-title">
            Putting together your file
        </h2>
        <p class="card-text">
            You have to put together a file whether your accommodation is in
            residence, in homestay accommodation, in CROUS accommodation or with
            a private lessor. Be careful to devote enough time to it: the search
            for a guarantor can take up to 2 weeks.
        </p>
        <a href="{{ path('housing_guide_apply') }}" class="btn btn-info">
            Read more
        </a>
    </div>
</div>
