{% extends 'base.html.twig' %}

{% block body %}
    <div id="maincontent" class="container guide apply">
        <div class="row mb-4" style="max-height: 450px;">
            <img class="img-fluid"
                style="z-index: -1;"
                src="{{
                asset(
                    'build/images/guide/chercher/Pixabay_bed-1834327_1920.jpg'
                )
                }}"
                alt="bureau lumineux" />
        </div>
        <div class="row gx-6 gy-5 mb-4" style="background-color: white;">
            <div class="maincontent col-12 col-lg-8">
                <h1>
                    Documents to be provided <strong>in the file</strong>
                </h1>

                <p>
                    You have found your accommodation and prepared your budget.
                    The final step in your accommodation search is putting
                    together your file. You have to put together a file whether
                    your accommodation is in university accommodation, CROUS
                    accommodation or with a private landlord.
                </p>
                <div class="text-center">
                    <i class="fa-regular fa-stamp fa-5x" alt="icon of a stamp">

                    </i>
                </div>

                <h2>
                    The file
                </h2>
                <p>
                    This usually contains:
                </p>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>A French or foreign identity document
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Proof of your current address, usually your last three water
                        or electricity bills, or rent receipts in your name (and
                        an accommodation certificate accompanied by the host’s identity
                        document if the supporting documents are not in your name)
                        (Not required by CROUS)
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        A student card or certificate of attendance at an educational
                        establishment for the current academic year
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        UA bank statement (relevé d’identité bancaire (RIB))
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        A training agreement or a hosting agreement if you are doing
                        a work placement or a mentored exchange program OR An employment
                        contract supported by your 3 last pay slips if you have a
                        student job
                    </li>

                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        A notice of the award (even if its conditional) of a grant
                        based on social criteria (not requested by CROUS)
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        A deed of guarantee by a natural or legal person or the Visale
                        guarantee
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>Your assessment for housing assistance.
                    </li>
                    <p>
                        If you choose a deed of guarantee by a natural or legal
                        person, you guarantor must also provide the following
                        documents:
                    </p>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>An identity document
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>A proof of address
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>A work contract
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Your 3 last pay slips or your last 3 proofs of payment of
                        retirement benefits or pensions
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>Your last or second to last tax notice.
                    </li>
                </ul>
            </div>
            <div class="sidecontent col-12 col-lg-4 mb-auto">
                <div class="text-center">
                    <i class="fa-regular fa-triangle-exclamation fa-2x ms-2">

                    </i>
                </div>
                <p>
                    Please note: Neither your landlord nor a private individual
                    can ask you to provide your social security number or your
                    social security card, your medical record, your criminal
                    record or a certificate of sound management of your bank
                    account. For further details, and in order to avoid being
                    the victim of abusive requests, do not hesitate to refer to
                    Decree No. 2015-1437 of November 5, 2015 which sets out the
                    list of supporting documents which may be requested from an
                    applicant wishing to rent and from their guarantor.
                </p>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="maincontent col-8">
                <h1>
                    <strong>The lease</strong>
                    contract
                </h1>

                <p>
                    The lease agreement is the key document for your
                    accommodation. It finalizes your rental, and it is important
                    to pay attention to it. The agreement is the final step in
                    the process and enables you to know the conditions of
                    occupation of your home. Here is what you should expect to
                    find in a lease agreement
                </p>
                <div class="text-center">
                    <i class="fa-regular fa-face-smile fa-5x"></i>
                </div>

                <h2>
                    The lease agreement
                </h2>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The name and address of the landlord and their representative.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>The name of the tenant.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The date on which the lease agreement starts to apply and
                        its duration.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The purpose (or intended use) of the dwelling (in your case,
                        as accommodation).
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The precise description of the accommodation and its associated
                        facilities (address, private facilities, living area, cellar,
                        garage, garden, parking, etc.).
                    </li>

                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        Facilities for accessing information and communication technology
                        (means of receiving television services in the building,
                        access to the internet, etc.).
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>Identification of communal areas.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>The cost of the rent and methods of payment.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The amount and date of the last rent paid by the previous
                        tenant, if the previous tenant left the apartment less than
                        18 months before the signing of the lease (valid for private
                        housing).
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>
                        The nature and amount of work carried out in the accommodation
                        since the end of the last rental agreement or since the last
                        lease renewal.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-check"></i>
                        </span>The cost of the security deposit.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <div class="sidecontent">
                    <div class="text-center">
                        <i class="fa-regular fa-pen-to-square fa-2x ms-2"></i>
                    </div>
                    <p>
                        The agreement should be written and signed by the owner
                        or the landlord and the tenant. It can be in the form of
                        a deed on piece of paper of which you receive an
                        original, or an authenticated deed drawn up by a lawyer,
                        of which you receive a copy.
                    </p>
                </div>
                <div class="sidecontent">
                    <div class="text-center">
                        <i class="fa-regular fa-paperclip fa-2x ms-2"></i>
                    </div>
                    <p>
                        The inventory of fixtures on arrival and the certificate
                        of home insurance must be attached to the lease
                        agreement when the agreement is signed.
                    </p>
                </div>
            </div>
        </div>
        <div class="row gx-6 gy-5 mb-4">
            <div class="maincontent col-12 col-lg-8">
                <div class="text-center">
                    <i class="fa-regular fa-face-frown fa-5x"></i>
                </div>

                <h2>
                    Please note the following clauses and requests should not be
                    included in the contract:
                </h2>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Demands that the tenant takes out home insurance with a company
                        chosen by the landlord.
                    </li>

                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Requests that the tenant allows visits to the accommodation
                        to take place during public holidays with a view to selling
                        or renting the property.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>Demands that the rent be paid by direct debit.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Stipulations that tenants are collectively responsible for
                        any damage to communal areas in the building.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Allowances for the automatic termination of the lease for
                        reasons other than the non-payment of rent, charges, the
                        security deposit or failure to take out rental insurance.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Prohibition of the tenant from exercising a political, union-
                        or association-based, or religious activity.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Prohibition of the tenant from having visitors who do not
                        usually live with them.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Charging the tenant a reminder fee or a fee for posting the
                        receipt.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Stipulation that the tenant is automatically responsible
                        for any damage found in the accommodation.
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Arrangement for the renewal of the lease by tacit agreement
                        for a period of less than 3 years if the landlord is a natural
                        person and 6 years if the landlord is a legal person (company,
                        insurance company),
                    </li>
                    <li>
                        <span class="fa-li text-primary" aria-hidden="true">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Stipulation that any month started is due, forcing the tenant
                        to pay the full rent despite giving notice of departure,
                        even if this notice ends mid-month
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <div class="sidecontent pin">
                    <div class="text-center">
                        <i class="fa-regular fa-comment fa-2x ms-2"></i>
                    </div>
                    <p>
                        The lease is governed by the law, which establishes
                        standard contracts for empty, furnished and shared
                        rentals.
                    </p>
                </div>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="maincontent col-12 col-lg-6">
                <h2>
                    In the case of renting accommodation in a residence managed
                    by CROUS :
                </h2>
                <p>
                    You will just be sent a unilateral admission decision by
                    electronic means before your arrival. In this decision, you
                    will find all the obligations concerning you as the
                    recipient.
                </p>
            </div>
            <div class="maincontent col-12 col-lg-6">
                <h2>
                    In the case of accommodation in exchange for a service :
                </h2>
                <p>
                    For the moment, the law does not provide a good framework
                    for this type of accommodation. Owners who rent for services
                    can either offer you a furnished rental contract (if the
                    services performed are less than or equal to the rent that
                    would normally be charged), or an employment contract.
                </p>
                <p>
                    In the case of an employment contract, the salary equates to
                    free accommodation. After that, it all depends on the hours
                    which you work. If the services rendered represent 10 to 15
                    hours of work per week, the owner cannot ask you for extra
                    money. If the services you provide are more than 15 hours
                    per week, the owner must then pay you. Look closely at the
                    written agreement between you and the owner. This document
                    should clearly show :<ul class="fa-ul"
                        style="--fa-li-width: 2em;">
                        <li>
                            <span class="fa-li text-primary" aria-hidden="true">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            the beginning and the end of the period of exchange of
                            accommodation for services
                        </li><li>
                            <span class="fa-li text-primary" aria-hidden="true">
                                <i class="fa-solid fa-check"></i>
                            </span>the nature of the services
                        </li><li>
                            <span class="fa-li text-primary" aria-hidden="true">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            the schedule and the number of hours
                        </li><li>
                            <span class="fa-li text-primary" aria-hidden="true">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            the type of accommodation (bedroom, studio, etc.)
                        </li><li>
                            <span class="fa-li text-primary" aria-hidden="true">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            rules for the living environment and the division of
                            the rental charges
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-12">
                <img id="givekeys"
                    src="{{
                    asset(
                        'build/images/guide/apply/UPSaclay iStock-P42.jpg'
                    )
                    }}"
                    alt="illustration d'échange de remise de clés" />
            </div>
        </div>
    </div>
{% endblock %}
