<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/photo_ARTE_CHARPENTIER_palaiseau.jpg'
    )
    }}"
    alt=""
    aria-hidden="true" />
<div class="card" style="background-color: #8CC63E;">
    <div class="card-body text-black">
        <h2 class="h5 card-title">
            The cost of renting accommodation
        </h2>
        <p class="card-text">
            We offer you a price list of average rents according to the type of
            accommodation and the region to help you prepare your housing
            budget.
        </p>
        <a href="{{ path('housing_guide_cost') }}" class="btn btn-info">
            Read more
        </a>
    </div>
</div>
