<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/UPSaclay-iStock-891975280.jpg'
    )
    }}"
    alt=""
    aria-hidden="true" />
<div class="card bg-success">
    <div class="card-body text-white">
        <h2 class="h5 card-title">
            Put all the chances on your side
        </h2>
        <ol>
            <li>
                Be reactive and available. Cheap accommodation offers go away
                very quickly.
            </li>
            <li>
                Have flexibility in your search criteria: location, budget, way
                of living
            </li>
            <li>
                Prepare your accommodation file in advance via Dossier Facile
            </li>
        </ol>
        <a href="{{ path('housing_guide_search') }}" class="btn btn-info">
            Read more
        </a>
    </div>
</div>
