<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/UPSaclay-iStock-891975280.jpg'
    )
    }}"
    aria-hidden="true" />
<div class="card bg-success">
    <div class="card-body text-white">
        <h5 class="card-title">
            Put all the chances on your side
        </h5>
        <ol>
            <li>
                Be responsive and available. Cheap accommodation offers go very
                quickly.
            </li>
            <li>
                Have flexibility in your search criteria: location, budget, mode
                of residence
            </li><li>Prepare your files in advance via Dossier Facile</li>
        </ol>
        <a href="{{ path('housing_guide_search') }}" class="btn btn-info">
            Read more
        </a>
    </div>
</div>
