<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/Pixabay_bed-1834327_1920.jpg'
    )
    }}"
    alt=""
    aria-hidden="true" />
<div class="card" style="background-color: #FDBD00;">
    <div class="card-body">
        <h2 class="h5 card-title">
            Constituer son dossier
        </h2>
        <p class="card-text">
            Que votre logement soit en résidence universitaire, chez un
            particulier, en logement CROUS ou en bailleur privé, vous devez
            constituer un dossier. Attention d’y consacrer suffisamment de temps
            : la recherche d’un garant peut prendre jusqu’à 2 semaines.
        </p>
        <a href="{{ path('housing_guide_apply') }}" class="btn btn-info">
            En savoir plus
        </a>
    </div>
</div>
