<img class="img-fluid"
    src="{{
    asset(
        'build/images/guide/chercher/UPSaclay-iStock-891975280_thumb.jpg'
    )
    }}"
    alt=""
    aria-hidden="true" />
<div class="card bg-success">
    <div class="card-body text-white">
        <h2 class="h5 card-title">
            Mettez toutes les chances de votre côté
        </h2>
        <ol>
            <li>
                Soyez réactifs et disponibles. En effet, les offres de logement
                peu chères partent très vite
            </li>
            <li>
                Ayez de la souplesse dans vos critères de recherche:
                localisation, budget, mode d’habitation
            </li><li>Préparez en amont votre dossier via Dossier Facile</li>
        </ol>

        <a href="{{ path('housing_guide_search') }}" class="btn btn-info">
            En savoir plus
        </a>
    </div>
</div>
