<div class="btn-group">
    <a class="btn btn-sm btn-default"
        href="{{ admin.generateObjectUrl('geocode', object) }}">
        <i class="fas fa-map-pin" aria-hidden="true"></i> geocode
    </a>
</div>
