{% extends 'base.html.twig' %}

{% import 'housing_request/_contact_information_card.html.twig'
    as ContactCard
%}

{% block title %}
    {{ 'housing_request.emergency.page_title'|trans }}
{% endblock %}

{% block body %}
    <main class="container mb-3" id="maincontent">
        <div class="row">
            <div class="col-12 mt-3 d-flex">
                {{
                    ContactCard.displayCard(
                        destinationSchool,
                        additionalDestinationEmails
                    )
                }}
            </div>
            <div class="col-12 mt-3">
                <h1 class="h2">
                    {{ 'housing_request.emergency.qualification.title'|trans }}
                </h1>
                <ul>
                    {% for qualification in qualificationQuestions %}
                        <li>
                            {{
                                ("housing_request.emergency.qualification.questions.#{qualification}")|trans
                            }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% include 'housing_request/_common.html.twig' %}

            <div class="col-12 mt-3">
                {% include 'housing_request/_request_form.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}
