{% extends 'base.html.twig' %}

{% import 'housing_request/_contact_information_card.html.twig'
    as ContactCard
%}

{% block title %}
    {{ 'housing_request.generic.page_title'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container mb-3" id="maincontent">
        <div class="row">
            <div class="col-12 mt-3 d-flex">
                {{ ContactCard.displayCard(destinationSchool) }}
            </div>
            {% include 'housing_request/_common.html.twig' %}
            <div class="col-12 mt-3">
                {% include 'housing_request/_request_form.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}
