{% macro displayBookmarkButton(housing) %}
    {% if
        app.user
            and is_granted('ROLE_STUDENT')
            and housing in app.user.bookmarks %}
        <a role="button"
            href="{{
            path(
                'app_housing_remove_bookmark',
                {
                    id: housing.id,
                    origin: app.request.get('_route'),
                    query: app.request.query.all
                }
            )
            }}">
            <i class="fa-solid fa-heart fa-xl"></i><span class="visually-hidden">{{
                    'bookmark.remove'|trans
                }}</span>
        </a>
    {% else %}
        <a role="button"
            href="{{
            path(
                'app_housing_add_bookmark',
                {
                    id: housing.id,
                    origin: app.request.get('_route'),
                    query: app.request.query.all
                }
            )
            }}">
            <i class="fa-regular fa-heart fa-xl"></i><span class="visually-hidden">{{
                    'bookmark.remove'|trans
                }}</span>
        </a>
    {% endif %}
{% endmacro %}
