@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import './card.scss';

@import './housing.scss';

@import './footer.scss';

@import './map.scss';

@import './housing_request.scss';

@import './guide.scss';

@import './lessor_admin.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf')
        format('truetype-variations');
}

// Accessibility recommandation
// [Critère 10.5] Dans chaque page web, les déclarations CSS de couleurs de fond d’élément et de police sont-elles correctement utilisées ?
// https://www.w3.org/WAI/WCAG21/Techniques/failures/F24

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
li,
blockquote,
input,
select,
textarea {
    background-color: transparent;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    min-height: 100%;
    font-variation-settings: 'wgth' 300;
    padding-top: 4.5rem;
}

.baseline {
    @include font-size(0.7rem);
    font-variation-settings: 'wght' 500;
}

.navbar {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

h1 {
    @include font-size(2.5rem);
    font-variation-settings: 'wght' 650;
}

h1 .emphase {
    color: $primary;
    font-variation-settings: 'wght' 600;
}

h2 {
    @include font-size(1.8rem);
    font-variation-settings: 'wght' 650;
}

h3 {
    @include font-size(1.2rem);
    font-variation-settings: 'wght' 650;
}

.crop-text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.divider {
    border-top: dotted 1px;
}

label.required:after {
    content: '*';
    color: red;
}

.bookmark-unavailable {
    opacity: 0.8;
    filter: grayscale(100%);
}

// ul {
//     border: 3px rgba(255, 0, 0, 0.25) solid;
// }

// ul::before {
//     content: '<ul>';
//     background: rgba(255, 0, 0, 0.25);
//     color: black;
//     display: block;
// }
