@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import './card.scss';

@import './housing.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf')
        format('truetype-variations');
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    min-height: 100%;
    font-variation-settings: 'wgth' 300;
}

.navbar {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

h1 {
    @include font-size(1.5rem);
}

h1 .emphase {
    color: $primary;
    font-variation-settings: 'wght' 600;
}

h2 {
    @include font-size(1.3rem);
}

h3 {
    @include font-size(1.1rem);
}

footer {
    color: white;
    background-color: $dark;
}

footer .nav-link {
    color: white;
}

footer .nav-link:hover {
    color: white;
    text-decoration: underline;
}
