@use 'variables' as v;

.card {
    border: dotted 1px;
    border-color: v.$light;
    background-color: v.$light;
}

.card-title {
    @include font-size(1.2rem);
}

.card-title svg {
    border: solid;
    border-radius: 10%;
    padding: 4px;
    color: v.$primary;
}

ul.services {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-link {
    font-size: small;
    font-variation-settings: 'wght' 200;
}

.price {
    @include font-size(1.5rem);
}
