@use 'variables' as v;

.card {
    border: none;

    h2 {
        font-size: 1.1rem;
        font-variation-settings: 'wght' 300;
    }

    a {
        text-decoration: none;
    }

    .modes {
        font-size: 0.9rem;
        font-variation-settings: 'wght' 300;
    }

    .description {
        font-size: 0.8rem;
        font-variation-settings: 200;
    }

    hr {
        width: 10%;
        margin: 1 auto 1 0;
        border-top: 1px dotted;
    }

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    @media only screen and (max-width: 414px) {
        img {
            width: 100%;
            height: 230px;
        }
    }
}

ul.services {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.price {
    @include font-size(1.5rem);
}

.cards-list {
    height: 75vh;
    overflow: scroll;

    @media screen and (max-width: 414px) {
        height: unset;
        overflow: unset;
    }
}
