.housing-detail-page {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .strong-text {
        font-variation-settings: 'wght' 700;
    }

    .main-info {
        font-variation-settings: 'wght' 300;
        font-size: 1.2rem;
        display: flex;

        li:before {
            content: '';
            position: absolute;
            bottom: 0.4rem;
            width: 100%;
            height: 0;
            line-height: 0;
            border-bottom: 2px dotted#ddd;
        }

        .label {
            background: inherit;
            display: inline;
            z-index: 1;
            padding-right: 0.2rem;
        }

        .info {
            font-variation-settings: 'wght' 550;
            background: inherit;
            min-width: 4rem;
            bottom: 0;
            right: 0;
            padding-left: 0.2rem;
            z-index: 2;
            margin-left: auto;
        }
    }

    .minor-info {
        font-size: small;
        font-style: italic;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-left: 0.8rem;
    }

    .icon-with-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #eee;
        height: 150px;
        width: 150px;
        vertical-align: middle;
        padding: 0.8rem;
        margin-right: 0.5rem;

        .picture {
            text-align: center;
            font-size: 3.2rem;
        }

        .picture-label {
            margin-top: 0.3rem;
            font-size: 0.7rem;
            font-variation-settings: 'wght' 300;
            text-align: center;
        }
    }
    .card-detail {
        img {
            width: 100%;
            height: 650px;
            object-fit: cover;
        }

        .carousel {
            max-width: 100%;
        }

        @media only screen and (max-width: 414px) {
            img {
                width: 100%;
                height: 230px;
            }
            .carousel {
                max-width: 100%;
            }
        }
    }

    #map {
        height: 450px;
    }
}
