.contact-form-textarea {
    min-height: 200px !important;
}

.request-information-card {
    h1 {
        @include font-size(1.1rem);
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .address-container {
        ul {
            padding-left: 15px !important;
        }
    }

    .card-text {
        @include font-size(0.9rem);
    }

    .school-email {
        @include font-size(0.8rem);
    }
}
