<div class="container-fluid row pt-3 m-0">
    <div class="container col-md-4 d-flex justify-content-center mb-3">
        <img src="{{ asset('build/images/logo-saclay.svg') }}"
            alt="logo université paris saclay"
            height="60" />
    </div>
    <nav class="container col-md-4">
        <ul class="mb-0 ps-0 text-center text-md-start">
            <li class="nav nav-link">FAQ</li>
            <li class="nav nav-link">Urgence</li>
        </ul>
    </nav>
    <nav class="container col-md-4">
        <ul class="ps-0 text-center text-md-start">
            <li class="nav nav-link">Contact</li>
            <li class="nav nav-link">L'université</li>
            <li class="nav nav-link">Mentions légales</li>
        </ul>
    </nav>
</div>
