<div class="container-fluid row">
    <div class="container col-md-4">
        <img src="{{ asset('build/images/logo-saclay.svg') }}"
            alt="logo université paris saclay"
            height="60" />
    </div>
    <nav class="container col-md-4">
        <ul>
            <li class="nav nav-link">FAQ</li>
            <li class="nav nav-link">Urgence</li>
        </ul>
    </nav>
    <nav class="container col-md-4">
        <ul>
            <li class="nav nav-link">Contact</li>
            <li class="nav nav-link">L'université</li>
            <li class="nav nav-link">Mentions légales</li>
        </ul>
    </nav>
</div>
