<div class="container-fluid row">
    <div class="col-12 col-md-3">
        <img src="{{ asset('build/images/logo-saclay.svg') }}"
            alt="logo université paris saclay"
            height="60" />
    </div>
    <nav class="col-12 col-md-9">
        <ul class="row">
            <li class="nav nav-link col-6">FAQ</li>
            <li class="nav nav-link col-6">Urgence</li>
            <li class="nav nav-link col-6">Contact</li>
            <li class="nav nav-link col-6">L'université</li>
            <li class="nav nav-link col-6">Mentions légales</li>
        </ul>
    </nav>
</div>
