{% extends 'base.html.twig' %}

{% block title %}
    {{ 'footer.legal'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container col-12 my-4" id="maincontent">
        <h1>
            Accessibility Statement
        </h1>
        <p>
            The Université Paris-Saclay commits to making this website
            accessible pursuant to Article 47 in the French law n° 2005-102,
            February 11 th , 2005.
        </p>
        <p>
            For this purpose, it implements the following strategy and actions:
        </p>
        <ul>
            <li>
                Publication of the multi-year accessibility plan (editing in
                progress) ;
            </li>
            <li>
                Publication of the annual action plan (editing in progress).
            </li>
        </ul>
        <p>
            This statement applies to the website <a href="https://casa.universite-paris-saclay.fr/">
                casa.universite-paris-saclay.fr
            </a>.
        </p>
        <h2>
            Status of compliance
        </h2>
        <p>
            The website <a href="https://casa.universite-paris-saclay.fr/">
                casa.universite-paris-saclay.fr
            </a> partially complies with <a href="https://accessibilite.numerique.gouv.fr/"
                target="_blank">
                the Référentiel Général d'Amélioration de l'Accessibilité (RGAA)
            </a>.
        </p>
        <h2>
            Results of the tests
        </h2>
        <p>
            The compliance audit carried out by <a href="https://www.accessprod.com"
                target="_blank"
                title="AccessProd (nouvelle fenêtre)">
                AccessProd
            </a> then the self-assessment carried out following corrective measures
            indicates that:
        </p>
        <ul>
            <li>
                <strong>
                    {{ 'general.accessibility_percentage'|trans }}% of the
                    criteria of the RGAA version 4.1 are completed;
                </strong>
            </li>
            <li>
                the average compliance rate of the online service is 80,2%. This
                corresponds to the average compliance score obtained on each of
                the pages in the sample.
            </li>
        </ul>
        <p>
            This percentage corresponds to:
        </p>
        <ul>
            <li>3 non-compliant criteria;</li>
            <li>49 compliant criteria;</li>
            <li>54 non-applicable criteria.</li>
        </ul>
        <h2>
            Non-accessible content
        </h2>
        <p>
            The contents listed below are not accessible for the following
            reasons.
        </p>
        <h3>
            Non-compliances
        </h3>
        <ul>
            <li>Keyboard navigation is not always contrasted enough;</li>
            <li>
                The sorting order of the filters by rent and area is given only
                by the form;
            </li>
            <li>
                The avoidance link at the top of the page is not displayed on
                the keyboard.
            </li>
        </ul>
        <h3>
            Exemptions for disproportionate burden
        </h3>
        <p>
            OpenStreetMap interactive maps: the information is available in the
            adjacent content. The correction of these maps developed by a third
            party service would represent a disproportionate workload compared
            to the expected gain.
        </p>
        <p>
            However, in order to simplify the use and navigation, an avoidance
            link will be put in place to allow the possibility to avoid these
            maps when navigating with the keyboard.
        </p>
        <h3>
            Content not subject to the accessibility obligation
        </h3>
        <p>
            No content.
        </p>
        <h2>
            Establishment of this accessibility statement
        </h2>
        <p>
            This statement was issued on January 13, 2023.
        </p>
        <h3>
            Technologies used for the realization of the website
        </h3>
        <ul>
            <li>HTML 5</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
        <h3>
            User agents, assistive technologies and tools used to verify
            accessibility
        </h3>
        <p>
            The content rendering checks were carried out based on the following
            combinations of web browsers and screen readers:
        </p>
        <ul>
            <li>Firefox 108 and NVDA 2022.4</li>
            <li>Chrome 109 and NVDA 2022.4</li>
            <li>Firefox 108 and JAWS 2022</li>
            <li>Safari 1621 and VoiceOver (OS 12.6.2)</li>
            <li>Chrome 108 and TalkBack 14 (Android 13)</li>
        </ul>
        <h3>
            Tools to evaluate accessibility
        </h3>
        <p>
            The following tools were used in the evaluation:
        </p>
        <ul>
            <li>Color Contrast Analyser</li>
            <li>Developer tools built into browsers</li>
            <li>Web Developer bar</li>
        </ul>
        <h3>
            Pages of the site that were subject to the compliance audit
        </h3>
        <ul>
            <li>Page « Home »</li>
            <li>Page « Legal Notice »</li>
            <li>Page « Contact »</li>
            <li>Page « Connection »</li>
            <li>Page « Apply »</li>
            <li>Page « Profile »</li>
            <li>Page « Edit the profile »</li>
            <li>Page « Favorites »</li>
            <li>Processus « Application qualification »</li>
            <li>Search page for an offer</li>
            <li>Template « Offer »</li>
            <li>Page « Avoid scam »</li>
            <li>Page « Average rents »</li>
            <li>Page « The documents for the application »</li>
            <li>Page « FAQ »</li>
        </ul>
        <h2>
            Feedback and contact
        </h2>
        <p>
            If you are unable to access a content or service, you can contact
            the website manager « XXXXXXXXXX » to be directed to an accessible
            alternative or to receive the content in another form.
        </p>
        <ul>
            <li>
                Send an email <a href="mailto:logement.etudiant@universite-paris-saclay.fr">to
                    logement.etudiant@universite-paris-saclay.fr</a>
            </li>
            <li>
                Contact Université Paris-Saclay, 3 rue Joliot Curie Bâtiment
                Breguet 91190 Gif-sur- Yvette
            </li>
        </ul>
        <h2>
            Remedy
        </h2>
        <p>
            This procedure should be used in the following case.
        </p>
        <p>
            You have notified the website manager of a lack of accessibility
            that prevents you from accessing a content or service of the website
            and you have not received a satisfactory response.
        </p>
        <p>
            Write a message to the Human Rights Defender (<a href="https://formulaire.defenseurdesdroits.fr/">
                https://formulaire.defenseurdesdroits.fr/
            </a>)
        </p>
        <ul>
            <li>
                Contact the delegate of the Human Rights Defender in your
                region(<a href="https://www.defenseurdesdroits.fr/saisir/delegues">
                    https://www.defenseurdesdroits.fr/saisir/delegues
                </a>)
            </li>
            <li>
                Send a letter by post (free of charge, do not put a stamp)<br />
                Défenseur des droits (Human Rights Defender)<br />
                Libre réponse 71120<br />
                75342 Paris CEDEX 07
            </li>
        </ul>
    </main>
{% endblock %}
