{% extends 'base.html.twig' %}

{% block title %}
    {{ 'footer.legal'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container col-12 my-4" id="maincontent">
        <h1>
            Legal Notice
        </h1>
        <h2>
            Université Paris-Saclay
        </h2>
        <p>
            Public establishment of higher education and research
        </p>

        <ul>
            <li>Head office: 3 rue Joliot Curie</li>
            <li>Breguet building 91190 Gif-sur-Yvette FRANCE</li>
        </ul>

        <p>
            Publisher: Estelle Iacona, President, Université Paris-Saclay
        </p>

        <p>
            Editorial director: Brand and Communication Office, Université
            Paris-Saclay Contact: logement.etudiant@universite-paris-saclay.fr
        </p>

        <h2>
            Hosting webserver
        </h2>

        <p>
            The site is hosted by SAS OVH, 2 rue Kellermann, 59100 ROUBAIX in
            France and can be reached at the following number: +33 9 72 10 10
            07.
        </p>

        <h2>
            Intellectual property
        </h2>

        <p>
            The Université Paris-Saclay student housing platform, including the
            software elements necessary for the operation of the site, is a
            creative work and the exclusive property of Université Paris-Saclay,
            protected by French and international legislation on intellectual
            property rights. No reproduction or representation may be made in
            contravention of the rights of Université Paris-Saclay arising from
            the aforementioned legislation.
        </p>

        <h2>
            Description of the services provided
        </h2>
        <p>
            The Université Paris-Saclay student housing platform is a site that
            references housing offers entered by the university's partner
            landlords. This site is intended for students and future students of
            university establishments looking for accommodation. It offers the
            following main services: - creation of a unique and personal account
            - search engine for offers entered and updated by university
            partners - sorting of dedicated offers according to the student's
            establishment - filter and tag of dedicated offers according to the
            student's profile - addition of offers in the favorites page of the
            student account - contact form for the student life services -
            advice on finding student accommodation
        </p>

        <p>
            All the informations indicated on the site
            https://logement.universite-paris-saclay.fr are given for
            information and are subject to change. Université Paris-Saclay
            cannot be held responsible for omissions, inaccuracies and
            deficiencies in the update.
        </p>

        <h2>
            Management of personal data
        </h2>

        <p>
            Personal data means any information that directly or indirectly
            identifies a natural person. We are likely to collect and store your
            Personal Data, in particular when you: • create your unique and
            personal account on the site • you authenticate • manage your
            favorites and your profile • contact us
        </p>

        <p>
            The personal data collected within the platform is intended for
            monitoring the creation of accounts by students of Université
            Paris-Saclay establishments, to offer a contact form for the various
            departments of the establishments according to the situation of the
            students and to personalize the search for accommodation according
            to each profile. Mandatory datas are marked with an asterisk. If a
            mandatory data is not provided, students cannot create a profile,
            save offers to their favorites or contact their establishment, but
            they can access accommodation offers and advice pages.
        </p>

        <p>
            These personal data are used by Université Paris-Saclay -
            Gif-sur-Yvette (Bâtiment Breguet, 3 rue Joliot Curie 91190
            Gif-sur-Yvette) in its capacity as data controller in compliance
            with law n°78- 17 of January 6, 1978 relating to data processing,
            files and modified freedoms and the General Data Protection
            Regulations.
        </p>

        <p>
            The personal data collected are only accessible to UPSACLAY persons
            designated to manage the platform. They are not passed on or sold to
            third parties. Anonymity will be guaranteed for all studies and
            analyzes carried out. Personal data are kept for a maximum period of
            2 years from the date of the user's last login, period necessary to
            achieve the objective pursued.
        </p>

        <p>
            You have the right to access, rectify, limit and delete your
            personal data at any time, which you can exercise with the Data
            Protection Officer (dpd@universite-paris-saclay.fr). If you believe
            that your rights are not respected, you have recourse to the CNIL
            (https://www.cnil.fr/).
        </p>
        <h2>
            Hypertext links
        </h2>

        <p>
            The https://logement.universite-paris-saclay.fr site contains many
            hypertext links to other sites, set up with the authorization of
            Université Paris-Saclay. However, Université Paris-Saclay does not
            have the possibility of verifying the content of the sites thus
            visited, and therefore assumes no liability in this regard.
        </p>
        <h2>
            Cookies
        </h2>

        <p>
            A cookie is a small information file stored by your Internet browser
            on the terminal (e.g. your computer's hard drive). A cookie file
            allows its issuer, during its period of validity, to recognize the
            terminal concerned each time this terminal accesses digital content
            containing cookies from the same transmitter.
        </p>

        <p>
            Necessary cookies are those related to the operation of the
            connected space that can be used on the site.
        </p>
        <p>
            Our cookie does not contain any personally identifying information;
            it only records information relating to the navigation of a terminal
            (computer, smartphone, etc.) on our site. He allows us :<ul>
                <li>
                    to establish statistics and volumes of visits and use of the
                    various elements making up our site
                </li><li>
                    to adapt the presentation of our site to the display
                    preferences of your terminal (resolution, operating system
                    used, etc.).
                </li>
            </ul>
        </p>

        <p>
            You can configure your browser software at any time so that cookies
            are saved in your terminal or, on the contrary, that they are
            rejected, occasionally or not. The configuration is described in the
            help menu of your browser. Here are the operations to be carried out
            for the main browsers:
        </p>
        <ul>
            <li>
                Internet Explorer/Edge: select the “Tools” button (cog icon at
                the top right), then “Internet Options”. Select the “Privacy”
                tab, then under “Settings” move the cursor up to block all
                cookies or down to allow all cookies, then click OK.
            </li><li>
                Firefox: click on the menu button at the top right and select
                "Options". Select the “Privacy and Security” panel and go to the
                “History” section. In the drop-down menu next to "Retention
                rules" choose "Use custom settings for history". Check the
                “Accept cookies” box to enable cookies, or uncheck it to disable
                them.
            </li><li>
                Google Chrome: Click the menu button at the top right and select
                "Settings". At the bottom, click Advanced. In the "Privacy and
                security" section, click on "Content settings". Click on
                “Cookies”. You can then activate cookies: next to "Blocked", put
                the button in the activated position.
            </li><li>
                Safari: Choose Safari > Preferences, click Privacy, then specify
                your choice.
            </li>
        </ul>
        <h2>
            Photo credits
        </h2>

        <p>
            Any copy, total or partial of the images present on this site,
            cannot be done without the agreement of the owner. For each
            accommodation offer, the photos are provided by the university's
            partners.
        </p>
    </main>
{% endblock %}
