{% extends 'base.html.twig' %}

{% block title %}
    {{ 'footer.legal'|trans }}
{% endblock %}

{% block body %}
    <main class="container col-12 my-4" role="search" id="maincontent">
        <h1>
            Mentions légales
        </h1>

        <h2>
            Université Paris-Saclay
        </h2>
        <p>
            Etablissement public d’enseignement supérieur et de recherche
        </p>
        <ul>
            <li>Siège social : 3 rue Joliot Curie</li>
            <li>Bâtiment Breguet 91190</li>
            <li>Gif-sur-Yvette</li>
        </ul>
        <p>
            Directrice de la publication : Estelle Iacona, présidente de
            l’université Paris-Saclay
        </p>
        <p>
            Direction de la rédaction : Direction de la communication
        </p>
        <p>
            Contact : logement.etudiant@universite-paris-saclay.fr
        </p>

        <h2>
            Hébergement
        </h2>
        <p>
            Le site est hébergé chez SAS OVH, 2 rue Kellermann, 59100 ROUBAIX en
            France et joignable au numéro suivant : +33 9 72 10 10 07.
        </p>
        <h2>
            Propriété intellectuelle
        </h2>
        <p>
            la plateforme logement étudiant de l'Université Paris-Saclay y
            compris les éléments logiciels nécessaires au fonctionnement du site
            est une œuvre de création, propriété exclusive de l'Université
            Paris-Saclay, protégée par la législation française et
            internationale sur le droit de la propriété intellectuelle. Aucune
            reproduction ou représentation ne peut être réalisée en
            contravention avec les droits de l'Université Paris-Saclay issus de
            la législation susvisée.
        </p>
        <h2>
            Description des services fournis
        </h2>
        <p>
            La plateforme logement étudiant de l’Université Paris-Saclay est un
            site qui référence des offres de logement saisies par les bailleurs
            partenaires de l’université. Ce site s’adresse aux étudiants et
            futurs étudiants des établissements de l’université en recherche
            d’un logement. Il propose les principaux services suivants :
        </p>
        <ul>
            <li>création d’un compte unique et personnel</li><li>
                moteur de recherche d’offres saisies et mises à jour par les
                partenaires de l’université
            </li><li>
                trie d’offres dédiées en fonction de l’établissement de
                l’étudiant
            </li><li>
                filtre et tag d’offres dédiées en fonction du profil de
                l’étudiant
            </li><li>
                ajout d’offres dans les favoris du compte de l’étudiant
            </li><li>
                formulaire de contact des services de l’établissement de
                l’étudiant
            </li><li>conseils sur la recherche d’un logement étudiant</li>
        </ul>
        <p>
            Toutes les informations indiquées sur le site
            https://logement.universite-paris-saclay.fr sont données à titre
            indicatif et sont susceptibles d’évoluer. L’Université Paris-Saclay
            ne pourra être tenue responsable des omissions, des inexactitudes et
            des carences dans la mise à jour.
        </p>
        <h2>
            Gestion des données personnelles
        </h2> <p>
            Une donnée à caractère personnel désigne toute information
            permettant d’identifier directement ou indirectement une personne
            physique. Nous sommes susceptibles de recueillir et de conserver vos
            Données Personnelles, notamment lorsque vous :
        </p>
        <ul>
            <li>créez votre compte unique et personnel sur le site</li><li>
                vous authentifiez
            </li><li>gérez vos favoris et votre profil</li><li>nous contactez</li>
        </ul>
        <p>
            Les données personnelles récoltées au sein de la plateforme sont
            destinées au suivi de la création de comptes par les étudiants des
            établissements de l’Université Paris-Saclay, à proposer un
            formulaire de contact des différents services des établissements en
            fonction de la situation des étudiants et à personnaliser la
            recherche de logement selon chaque profil. Les données obligatoires
            sont renseignées par une astérisque. En cas de non-fourniture des
            données obligatoires, l’étudiant ne peux pas créer de profil,
            enregistrer des offres dans ses favoris ou contacter son
            établissement mais il peut accéder aux offres de logement et aux
            pages de conseils.
        </p>
        <p>
            Ces données personnelles sont utilisées par l'Université
            Paris-Saclay - Gif-sur-Yvette (Bâtiment Breguet, 3 rue Joliot Curie
            91190 Gif-sur-Yvette) en sa qualité de responsable de traitement
            dans le respect de la loi n°78-17 du 6 janvier 1978 relative à
            l'informatique, aux fichiers et aux libertés modifiée et du
            Règlement Général sur la Protection des Données.
        </p>
        <p>
            Les données personnelles récoltées ne sont accessibles qu'aux seules
            personnes de l'UPSACLAY désignées pour gérer la plateforme. Elles ne
            sont pas transmises ni vendues à des tiers. L'anonymat sera garanti
            pour toutes les études et analyses réalisées. Les données
            personnelles sont conservées pour une durée maximale de 2 ans à
            compter de la date de dernière connexion de l’utilisateur, durée
            nécessaire à l'accomplissement de l'objectif poursuivi.
        </p>
        <p>
            Vous disposez à tout moment d’un droit d’accès, de rectification, de
            limitation et de suppression, de vos données personnelles que vous
            pouvez exercer auprès du Délégué à la Protection des Données
            (dpd@universite-paris-saclay.fr). Si vous estimez que vos droits ne
            sont pas respectés, vous disposez d'un recours auprès de la CNIL
            (https://www.cnil.fr/).
        </p>
        <h2>
            Liens hypertextes
        </h2>
        <p>
            Le site https://logement.universite-paris-saclay.fr contient de
            nombreux liens hypertextes vers d’autres sites, mis en place avec
            l’autorisation de l’Université Paris-Saclay. Cependant, l’Université
            Paris-Saclay n’a pas la possibilité de vérifier le contenu des sites
            ainsi visités, et n’assumera en conséquence aucune responsabilité de
            ce fait.
        </p>
        <h2>
            Cookies
        </h2>
        <p>
            Un cookie est un petit fichier d’information stocké par votre
            navigateur Internet sur le terminal (ex : disque dur de votre
            ordinateur). Un fichier cookie permet à son émetteur, pendant sa
            durée de validité, de reconnaître le terminal concerné à chaque fois
            que ce terminal accède à un contenu numérique comportant des cookies
            du même émetteur.
        </p>
        <p>
            Les cookies nécessaires sont ceux liés au fonctionnement de l'espace
            connecté qui peut être utilisé sur le site.
        </p>
        <p>
            Notre cookie ne contient aucune information d’identification
            personnelle ; il ne fait qu’enregistrer des informations relatives à
            la navigation d’un terminal (ordinateur, smartphone, etc.) sur notre
            site. Il nous permet :
        </p>
        <ul>
            <li>
                d’établir des statistiques et volumes de fréquentation et
                d’utilisation des divers éléments composant notre site
            </li><li>
                d’adapter la présentation de notre site aux préférences
                d’affichage de votre terminal (résolution, système
                d’exploitation utilisé, etc.).
            </li>
        </ul>
        <p>
            Vous pouvez à tout moment configurer votre logiciel de navigation de
            manière à ce que des cookies soient enregistrés dans votre terminal
            ou, au contraire, qu’ils soient rejetés, de manière ponctuelle ou
            non. La configuration est décrite dans le menu d’aide de votre
            navigateur. Voici ci-dessous les opérations à effectuer pour les
            navigateurs principaux :
        </p>
        <ul>
            <li>
                Internet Explorer/Edge : sélectionnez le bouton « Outils »
                (icone rouage en haut à droite), puis « Options Internet ».
                Sélectionnez l’onglet « Confidentialité », puis sous «
                Paramètres » déplacez le curseur vers le haut pour bloquer tous
                les cookies ou vers le bas pour autoriser tous les cookies, puis
                cliquez sur OK.
            </li><li>
                Firefox : cliquez sur le bouton de menu en haut à droite et
                sélectionnez « Options ». Sélectionnez le panneau « Vie privée
                et sécurité » et rendez-vous à la section « Historique ». Dans
                le menu déroulant à côté de « Règles de conservation »
                choisissez « Utiliser les paramètres personnalisés pour
                l'historique ». Cochez la case « Accepter les cookies » pour
                activer les cookies, ou décochez-la pour les désactiver.
            </li><li>
                Google Chrome : cliquez sur le bouton de menu en haut à droite
                et sélectionnez « Paramètres ». En bas, cliquez sur Avancés.
                Dans la section "Confidentialité et sécurité", cliquez sur «
                Paramètres du contenu ». Cliquez sur « Cookies ». Vous pouvez
                alors activer les cookies : à côté de "Bloqués", mettez le
                bouton en position activée.
            </li><li>
                Safari : choisissez Safari > Préférences, cliquez sur
                Confidentialité, puis indiquez votre choix.
            </li>
        </ul>
        <h2>
            Crédits photos
        </h2>
        <p>
            Toute copie, totale ou partielle des images présentes sur ce site,
            ne peut se faire sans l'accord du propriétaire. Pour chaque offre de
            logement, les photos sont renseignées par les bailleurs partenaires
            de l’université.
        </p>
    </main>
{% endblock %}
